In [10]:
sales = (100,121,120,130,140,120,122,123,190,125)
num=0

for i in range(9):
    if(sales[i]>sales[i+1]):
        num = num + 1

print('지난 10일 동안 전일대비 매출이 감소한 날은 {}일 입니다.'.format(num))

지난 10일 동안 전일대비 매출이 감소한 날은 3일 입니다.

In [62]:
tup = (1, 2, 5, 4, 3, 2, 1, 4, 7, 8, 9, 9, 3, 7, 3)
set(tup)

TypeError: 'tuple' object is not callable

In [41]:
n_list = [5, 6, 3, 9, 2, 12, 3, 8, 7]

print('주어진 리스트는 =', n_list)

for i in range(len(n_list) - 1, 0, -1):
        for j in range(i):
            if n_list[j] > n_list[j + 1]:
                n_list[j], n_list[j + 1] = n_list[j + 1], n_list[j]
            
print('정렬된 결과는 =', n_list)

주어진 리스트는 = [5, 6, 3, 9, 2, 12, 3, 8, 7]
정렬된 결과는 = [2, 3, 3, 5, 6, 7, 8, 9, 12]

In [54]:
tu1 = (4, 5, 2, 3, 8, 1, 9, 0)

for i in range(len(tu1)):
    print(tu1[:len(tu1)-i])

(4, 5, 2, 3, 8, 1, 9, 0)
(4, 5, 2, 3, 8, 1, 9)
(4, 5, 2, 3, 8, 1)
(4, 5, 2, 3, 8)
(4, 5, 2, 3)
(4, 5, 2)
(4, 5)
(4,)

In [69]:
population_A = (100, 150, 230, 120, 180, 100, 140, 95, 81, 21, 4)
population_B = (300, 420, 530, 420, 400, 300, 40, 5, 1, 1, 1)

result1 = sum(population_A[2:])
result2 = sum(population_B[2:])

print('마을 A와 B에 보낼 투표용지의 개수는 각각 {}장과 {}장입니다.'.format(result1, result2))

마을 A와 B에 보낼 투표용지의 개수는 각각 971장과 1698장입니다.

In [74]:
population_A = (100, 150, 230, 120, 180, 100, 140, 95, 81, 21, 4)
population_B = (300, 420, 530, 420, 400, 300, 40, 5, 1, 1, 1)

population1 = sum(population_A)
population2 = sum(population_B)

oldman1 = sum(population_A[7:])
oldman2 = sum(population_B[7:])

print('마을 A와 B의 고령화 정도는 각각 {:.3f}와 {:.3f}입니다.'.format(oldman1/population1, oldman2/population2))

마을 A와 B의 고령화 정도는 각각 0.165와 0.003입니다.

In [70]:
s1 = {0,1,2,3,4,5}
s2 = {3,4,5,6,7}

print(s1 & s2)
print(s1 | s2)
print(s2 - s1)
print(s1 - s2)
print(s1 ^ s2)

{3, 4, 5}
{0, 1, 2, 3, 4, 5, 6, 7}
{6, 7}
{0, 1, 2}
{0, 1, 2, 6, 7}